@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
  font-family: "Rubik", sans-serif;
}
.container {
  background-color: #dfe0e1;
  position: relative;
  z-index: 1;
}
.container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 40px;
}
.container header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.container header ul li {
  list-style: none;
  font-weight: 400;
  font-size: 1.2rem;
}
.post_header_text h1 {
  font-size: 6rem;
  text-align: center;
  line-height: 5rem;
  margin-top: 50px;
}
.post_header_text p {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 30px;
}
.post_header_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  gap: 20px;
}
.post_header_buttons button {
  padding: 10px 40px 10px 40px;
  border-radius: 50px;
  border: 1px solid black;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container_images_of_tech {
  margin-top: 200px;
  display: flex;
}
.container_images_of_tech .first_image img {
  width: 800px;
}
.container_images_of_tech .second_image img {
  width: 400px;
}
.container_images_of_tech .second_image {
  margin-left: 50px;
}
.wrapper {
  background-color: #000000;
  position: relative;
  z-index: 100;
  color: white;
  margin-top: -450px;
}
.pre_gallery_text {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
}
.pre_gallery_text h1 {
  font-size: 4rem;
  line-height: 3.5rem;
  margin-top: 50px;
}
.pre_gallery_text p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 50px;
  color: gray;
}
.digital_goods h1 {
  font-size: 5rem;
  line-height: 4.5rem;
  text-align: center;
  margin-top: 100px;
}
.digital_goods p {
  color: gray;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 50px;
}
.digital_goods_divs {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  gap: 50px;
}

.digital_goods_divs .digital_goods_divs_1 div,
.digital_goods_divs .digital_goods_divs_2 div {
  width: 600px;
  padding: 50px;
  border-radius: 10px;
  border: 1px solid rgb(51, 51, 51);
  background-color: #111111;
  height: 480px;
  margin-top: 50px;
}
.digital_goods_divs .digital_goods_divs_1 div img,
.digital_goods_divs .digital_goods_divs_2 div img {
  width: 60px;
}
.digital_goods_divs .digital_goods_divs_1 div p,
.digital_goods_divs .digital_goods_divs_2 div p {
  margin-top: 20px;
  font-size: 1.3rem;
  color: gray;
}
.digital_goods_divs .digital_goods_divs_1 div h1,
.digital_goods_divs .digital_goods_divs_2 div h1 {
  margin-top: 30px;
  font-size: 2.3rem;
}

.digital_goods_divs .digital_goods_divs_1 div button,
.digital_goods_divs .digital_goods_divs_2 div button {
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 30px 10px 30px;
  margin-top: 50px;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
}
.post_footer {
  width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
  padding: 20px 0 20px 0;
  margin-top: 50px;
}
.post_footer .post_footer_list {
  display: flex;
  gap: 20px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  border-top: 1px solid gray;
  padding-top: 50px;
  margin-top: 100px;
}
.footer_content {
  width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  color: gray;
}
footer .footer_content .footer_2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}
footer .footer_content .footer_2 ul {
  list-style-type: none;
}
footer .footer_content .footer_2 ul li {
  margin-top: 5px;
}
footer .footer_1 p {
  color: gray;
}
.trusted {
  width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 50px;
}
.trusted_content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 50px;
}
.trusted_content .trusted_1,
.trusted_content .trusted_2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.trusted_content .trusted_1 {
  border-bottom: 1px solid gray;
}
.trusted_content .trusted_1 img,
.trusted_content .trusted_2 img {
  padding: 50px;
  width: 200px;
  height: 190px;
  border-right: 1px solid gray;
}

.sponsors {
  width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 50px;
}
.sponsors_content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 50px;
}
.sponsors_content .sponsors_1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sponsors_content .sponsors_1 img {
  padding: 50px;
  border-right: 1px solid gray;
  width: 200px;
  height: 190px;
}
.people {
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 50px;
}
.people .people_div {
  width: 32%;
}
.people .people_div div {
  width: 100%;
  background-color: #111111;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(56, 56, 56);
}
.people .people_div div h2 {
  font-weight: lighter;
}
.people .people_div div p {
  color: gray;
}
.people .people_div div img {
  width: 30px;
  margin-top: 75px;
  border-radius: 20px;
}
.gallery {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: scroll;
  margin-top: 50px;
  gap: 20px;
  overflow-y: hidden;
  margin: auto;
}
.gallery div {
  padding: 50px;
  background-color: white;
  height: 650px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
}
.gallery img {
  width: 400px;
}
.gallery div h2 {
  color: #1a1a1a;
  margin-top: -20px;
  padding: 20px;
}
@media (max-width: 1400px) {
  header {
    width: 1000px;
    margin: auto;
  }
  footer {
    width: 1200px;
  }
  .post_footer {
    width: 1200px;
  }
  .sponsors {
    width: 1200px;
  }
}
@media (max-width: 1300px) {
  header {
    width: 1000px;
  }
  footer {
    width: 1000px;
  }
  .post_footer {
    width: 1000px;
  }
  .people {
    width: 1000px;
  }
  .sponsors {
    width: 1000px;
  }
  .digital_goods_divs {
    width: 1000px;
    flex-direction: column;
  }
  .digital_goods {
    width: 1000px;
    margin: auto;
  }
  .digital_goods_divs_2 {
    margin-top: 0px;
  }
  .trusted {
    width: 1000px;
  }
  .container_images_of_tech {
    width: 1000px;
    margin-right: auto;
  }
  .container_images_of_tech .first_image img {
    width: 500px;
  }
  .pre_gallery_text {
    width: 1000px;
    margin: auto;
    margin-bottom: 50px;
  }
}
@media (max-width: 1100px) {
  footer {
    width: 800px;
  }
  .post_footer {
    width: 800px;
  }
  .sponsors {
    width: 800px;
  }
  .people {
    width: 800px;
  }
  .trusted {
    width: 800px;
  }
  .trusted_content {
    width: 800px;
  }
  .trusted .trusted_content .trusted_1 img {
    width: 150px;
    padding: 10px;
  }

  .trusted .trusted_content .trusted_2 img {
    width: 150px;
    padding: 10px;
  }
  .digital_goods_divs {
    width: 800px;
  }
  .digital_goods {
    width: 800px;
  }
  .pre_gallery_text {
    width: 800px;
  }
  .container_images_of_tech {
    width: 800px;
    margin: auto;
  }
  .container_images_of_tech .first_image {
    display: none;
  }
  .container_images_of_tech .second_image {
    margin: auto;
  }
  header {
    width: 800px;
  }
}
@media (max-width: 850px) {
  footer {
    width: 600px;
  }
  .post_header_text {
    width: 600px;
    margin: auto;
  }
  .post_footer {
    width: 600px;
  }
  .pre_gallery_text {
    flex-direction: column;
  }
  .sponsors {
    width: 600px;
  }
  .sponsors .sponsors_content .sponsors_1 {
    width: 600px;
    flex-direction: column;
  }
  .sponsors .sponsors_content .sponsors_1 img {
    border: none;
  }
  .people {
    width: 600px;
    flex-direction: column;
  }
  .people .people_div {
    width: 500px;
    margin: auto;
  }
  .trusted {
    width: 600px;
    flex-direction: column;
  }
  .trusted_content {
    width: 600px;
    flex-direction: column;
  }
  .trusted .trusted_content .trusted_1 img {
    border: none;

    width: 150px;
    padding: 10px;
  }
  .trusted .trusted_content .trusted_1 {
    flex-wrap: wrap;
    border: none;
  }
  .trusted .trusted_content .trusted_2 {
    border-top: none !important;
    flex-wrap: wrap;
  }
  .trusted .trusted_content .trusted_2 img {
    width: 150px;
    padding: 10px;
    border: none;
  }
  .digital_goods_divs {
    width: 600px;
  }
  .digital_goods {
    width: 600px;
  }
  .pre_gallery_text {
    width: 600px;
  }
  .container_images_of_tech {
    width: 600px;
    margin: auto;
  }
  .container_images_of_tech .first_image {
    display: none;
  }
  .container_images_of_tech .second_image {
    margin: auto;
  }
  header {
    width: 600px;
  }
}
@media (max-width: 650px) {
  footer {
    width: 450px;
  }
  .post_footer {
    width: 450px;
  }
  .sponsors {
    width: 450px;
  }
  .sponsors .sponsors_content .sponsors_1 {
    width: 450px;
  }
  .people {
    width: 450px;
  }
  .people .people_div {
    width: 400px;
    margin: auto;
  }
  .trusted {
    width: 450px;
  }
  .trusted_content {
    width: 450px;
    flex-direction: column;
  }
  .trusted .trusted_content .trusted_1 img {
    border: none;

    width: 150px;
    padding: 10px;
  }
  .trusted .trusted_content .trusted_1 {
    flex-wrap: wrap;
    border: none;
  }
  .trusted .trusted_content .trusted_2 {
    border-top: none !important;
    flex-wrap: wrap;
  }
  .trusted .trusted_content .trusted_2 img {
    width: 150px;
    padding: 10px;
    border: none;
  }
  .digital_goods_divs {
    width: 450px;
  }
  .digital_goods {
    width: 450px;
  }
  .pre_gallery_text {
    width: 450px;
  }
  .digital_goods_divs .digital_goods_divs_1 div {
    width: 400px;
  }
  .digital_goods_divs .digital_goods_divs_2 div {
    width: 400px;
  }
  .container_images_of_tech {
    width: 450px;
  }
  .post_header_text {
    width: 450px;
  }
  .post_header_text h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  header {
    width: 450px;
  }
  .post_header_buttons {
    flex-direction: column;
  }
}
@media (max-width: 460px) {
  header {
    width: 300px;
    flex-direction: column;
  }
  header ul {
    margin-top: 10px;
  }
  .post_header_text {
    width: 300px;
  }
  .post_header_buttons {
    flex-direction: column;
  }
  .container_images_of_tech .second_image img {
    width: 300px;
  }
  .container_images_of_tech {
    width: 300px;
  }
  .pre_gallery_text {
    width: 300px;
  }
  .pre_gallery_text h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .pre_gallery_text p {
    font-size: 1rem;
  }
  footer {
    width: 300px;
  }
  .footer_content {
    flex-direction: column;
  }
  .post_footer {
    width: 300px;
  }
  .sponsors {
    width: 300px;
  }
  .sponsors .sponsors_content .sponsors_1 {
    width: 300px;
  }
  .people {
    width: 300px;
  }
  .people .people_div {
    width: 300px;
    margin: auto;
  }
  .trusted {
    width: 300px;
  }
  .trusted_content {
    width: 300px;
  }
  .digital_goods {
    width: 300px;
  }
  .digital_goods h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .digital_goods_divs {
    width: 300px;
  }
  .digital_goods_divs .digital_goods_divs_1 div {
    width: 300px;
    height: 700px;
  }
  .digital_goods_divs .digital_goods_divs_2 div {
    width: 300px;
    height: 700px;
  }
}
